# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.env
venv/
.venv/
env/

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Distribution / packaging
dist/
build/
*.egg-info/

# dotenv
.env
